<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:c="http://www.springframework.org/schema/c"
	xsi:schemaLocation="
           http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<context:annotation-config />

	<bean id="fFlight" class="in.ineuron.comp.FirstFlight" />
	<bean id="bDart" class="in.ineuron.comp.BlueDart"/>
	<bean id="dtdc" class="in.ineuron.comp.DTDC" />

	<bean id="fpkt" class="in.ineuron.comp.Flipkart">
<!-- 		<constructor-arg name="discount" value="30.0" /> -->
	</bean>

</beans>