<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:c="http://www.springframework.org/schema/c"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="dob" class="java.util.Date" p:date="21" p:month="01" p:year="97"/>
	<bean id="doj" class="java.util.Date" p:date="21" p:month="01" p:year="20"/>
	<bean id="employee" class="in.ineuron.comp.Employee" 
	p:eno="10" p:ename="Maruthi" p:dob-ref="dob" p:dept-ref="department"/>
<!-- 	<bean id="department" class="in.ineuron.comp.Department"  p:dno="12" p:dname="CS" p:doj-ref="doj"/> -->
	<bean id="department" class="in.ineuron.comp.Department"  c:dno="12"  c:doj-ref="doj">
	<constructor-arg name="dname" value="CSE"></constructor-arg>
	</bean>
	
</beans>